*{
  box-sizing: border-box;
}

.film_quote{
  display: flex; 
  align-items: center;
  justify-content: center;
}


.film_quote_container{
  display: grid;
  margin: 0 auto; 
  text-align: center;
  border-style: dotted;
  padding: 3em; 
  width: 30em; 
  place-items: center;
  position: absolute;
  top: 30%; 
  z-index: 1;
  background-color: white; 
}

